.comment
  %span
  = link_to comment.user.email, user_path(comment.user)
  %span Time posted
  %br

  = comment.body

  - if can? :update, comment
    %span.post-buttons
      = link_to "Edit", edit_post_comment_path(comment.post, comment)

  - if can? :destroy, comment
    %span.post-buttons
      = link_to "Delete", [comment.post, comment], method: :delete,
      data: { confirm: "Are you sure?" }





  %br
  %br
