-# = @user.email
-# %br
-# %br
-#
-# %p Posted:
-#
-# - @user.posts.each do |post|
-#   %br
-#   %br
-#   = link_to post.body, post

%main.container
  %h1.user-posts Posts by:
  %p= @user.email
  / Всички постове на потребителя един след друг
  - @user.posts.each do |post|
    %article
      %span
        =@user.email
      %span= post.created_at.strftime('%A, %B %d')
      %br

      %span.show-post
        = link_to "Open Post", post
        %br
        %br
        = post.body
