%main.container
  =render 'form'


  - @posts.each do |post|
    %article
      %span
        = link_to @post.user.email, user_path(@post.user)
        %span= post.created_at.strftime('%A, %B %d')
        %br
        = link_to post.body, post_path(post)



%footer
  %p Some Footer EOOD 2017
