/*Фоново изображение и избутване на съдържанието заради навигацията*/
body {
	background: url("background/index.jpg") no-repeat fixed center;
	background-size: cover;
	overflow-x: hidden;
	font-family: 'Exo 2', sans-serif;
	padding-top: 150px;
}

/*Стилове за навигацията*/
nav {
	background-image: url("background/nav.jpg");
	border-bottom: 7px solid darkred;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 140px;
	font-size: 24px;
}

ul li {
	list-style-type: none;
	display: inline-block;
}

.left-nav {
	float: left;
	margin-top: 30px;
}

a:hover {
	text-decoration: none;
}

h1 {
	font-size: 60px;
	font-weight: bold;
	margin: 0 0 0 20px;
	color: black;
}

.search-field {
	width: 85%;
	margin-top: 30px;
	padding: 20px;
	background-color: #afafaf;
	border-radius: 5px;
	opacity: 0.6;
}

.search-field input{
	font-size: 24px;
	width: 90%;
	padding: 0 10px;
	border-radius: 7px;
}

.right-nav {
	float: right;
	width: 200px;
	margin: 20px 50px 0 0;
	padding: 5px;
	border-radius: 10px;
	background-color: #afafaf;
	opacity: 0.6;
}

table th {
	padding: 10px;
	font-size: 20px;
}

.avatar {
	width: 70px;
	height: 70px;
	background-color: white;
}

.name {
	color: darkred;
	font-weight: bold;
}

.logout {
	border-radius: 10px;
	border: none;
	font-size: 20px;
	color: black;
}

/*Главното съдържание, уникално за всеки html*/
main {
	background-color: white;
	padding: 10px;
	border-radius: 2px;
}

.container {
	margin: auto;
	width: 60%;
}

/*Писане на нов пост*/
textarea {
	background-color: #e4e3e3;
	width: 99%;
	height: 100px;
	font: 24px 'Exo 2', sans-serif;
	resize: none;
	border-radius: 5px;
	padding: 10px;
	margin: 5px;
	outline: none;
}

.post-button {
	font: 18px 'Exo 2', sans-serif;
	color: black;
	background-color: gray;
	margin: 0 0 10px 5px;
	padding: 2px 10px;
	border-radius: 7px;
}

/*Вече публикувани постове*/
article {
	border: 1px solid black;
	border-radius: 1%;
	font-size: 30px;
	margin: 5px;
}

.post-info {
	height: 40px;
	background-color: #7d7d7d;
	border-bottom: 4px solid darkred;
	clear: both;
}

span {
	display: block;
	margin-right: 10px;
	font-size: 22px;
	padding: 5px;
}

.author {
	float: left;
}

.time {
	float: right;
}

article a:link, article a:visited {
	color: black;
}

p {
	margin: 10px 0;
}

/*Footer*/
footer {
	text-align: center;
	padding: 10px;
}

footer p {
	font-size: 24px;
	color: blue;
}

/*Responsive design*/
@media screen and (max-width: 991px) {
	/*Само навигация*/
	h1 {
		font-size: 40px;
		margin-top: 20px;
	}

	.right-nav {
		margin: 20px 10px 0 0;
	}
}

@media screen and (max-width: 720px) {
	/*Навигация*/
	body {
		padding-top: 110px;
	}

	nav {
		height: 100px;
	}

	h1 {
		font-size: 30px;
		margin : 0 0 0 0;
	}

	.search-field {
		width: 90%;
		margin: 10px 0 0 0;
	}

	.search-field input {
		font-size: 18px;
	}

	.right-nav {
		width: 150px;
		margin: 10px 20px 0 0;
		padding: 0;
	}

	.avatar {
		width: 50px;
		height: 50px
	}

	.name {
		font-size: 16px;
	}
	.logout {
		font-size: 16px;
	}

	/*Main*/
	textarea {
		font-size: 20px;
	}

	.post-button {
		font-size: 16px;
	}

	span {
		font-size: 18px;
	}

	article {
		font-size: 20px;
	}

}

@media screen and (max-width: 580px) {
	/*Навигация*/
	.search-field {
		width: 95%;
		height: 50px;
		margin: 25px 0 0 0;
		padding: 5px;
	}

	.search-field input{
		padding-left: 5px;
	}

	.right-nav {
		margin: 15px 0 0 0;
		width: 130px;
	}

	.name {
		font-size: 14px;
	}

	.logout {
		font-size: 14px;
	}
	/*Main*/
	textarea {
		font-size: 16px;
	}

	.post-button {
		font-size: 12px;
	}

	span {
		font-size: 16px;
	}

	article {
		font-size: 18px;
	}
}

@media screen and (max-width: 480px) {
	/*Само навигация*/
	body {
		padding-top: 70px;
	}

	nav {
		height: 60px;
		border-bottom: 3px solid darkred;
	}

	.left-nav {
		margin: 10px 0 0 0;
	}

	h1 {
		font-size: 24px;
	}

	.search-field {
		height: 40px;
		margin: 4px 0 0 0;
	}

	.search-field {
		font-size: 14px;
	}

	.right-nav {
		width: 110px;
		margin: 0 0 0 0;
	}

	table th{
		padding: 6px;
	}

	.avatar {
		width: 35px;
		height: 35px;
	}

	.name{
		font-size: 14px;
	}

	.logout {
		padding: 0 4px;
		font-size: 14px;
	}
}
