/*Контейнер*/
main.user.posts {
	background-color: white;
	padding: 10px;
	border-radius: 2px;
}

.container {
	margin: auto;
	width: 60%;
}

/*Стилове за постовете*/
article {
	border: 1px solid black;
	border-radius: 1%;
	font-size: 30px;
	margin: 10px;
	padding: 5px;
}

article span {
	margin-right: 10px;
	font-size: 20px;
}

article a:link, article a:visited, .comment a:link, .comment a:visited {
	color: black;
}

.show-post {
	cursor: pointer;
	float: right;
	padding: 10px;
}

.show-post a:hover{
	background-color: #eee;
}

article p {
	margin: 10px 0;
}
