body {
	// background: url("background/welcome.jpg") no-repeat fixed center;
	background-size: cover;
	text-align: center;
	padding-top: 100px;
	font-family: 'Exo 2', sans-serif;
}

.container {
	width: 80%;
	margin: auto;
}
h1 {
	font-size: 4em;
}
.float-right {
	float: right;
	overflow: none;
	clear: border-top;
}
fieldset {
	width: 35%;
	border: 2px solid #66CCFF;
}
legend {
	font-size: 20px;
}
form {
	padding: 20px;
}
input {
	width: 200px;
	font-size: 20px;
}
p {
	margin: 5px;
	font-size: 1.5em;
}
